.env
.envrc
.vscode
/build/
/venv_teaicher/
/static/
/src/config/patterns/*
/tests/.cache
__pycache__/
*.pyc
*.wav
*.mp3
.cache
summary_3.rtf
node_modules
ideas
package.json
wrappers.py.envrc
*.egg-info
