.env
.envrc
/.vscode/
/build/
/venv_teller/
/tests/.cache
__pycache__/
*.pyc
.cache
summary_3.rtf
paths_to_remove.txt
node_modules
ideas
package.json
wrappers.py.envrc
*.egg-info
cors.json
speech_test.py
migrate_stories.py
script_default_fields.py
script_philosophy.py
scripts.py
/tests
/files_to_pick_from/
/function_factory/
