.env
.envrc
/.vscode/
/build/
/venv_teaicher/
/static/generated_stories/
/src/config/patterns/*
/tests/.cache
__pycache__/
*.pyc
*.wav
*.mp3
.cache
summary_3.rtf
node_modules
ideas
package.json
pyproject.yaml
wrappers.py.envrc
*.egg-info
speech_test.py
*.flac
*.mp3
