elevenlabs==1.56.0
fastapi==0.121.2
Flask==3.1.0
google-api-python-client==2.166.0
Jinja2==3.1.6
mistralai==1.8.2
openai==1.70.0
pydantic==2.11.5
pydantic-settings==2.12.0
python-dotenv==1.1.0
python-vlc==3.0.21203
spotipy==2.25.1
uvicorn==0.31.0
boto3==1.42.59
botocore==1.42.59
scaleway==2.10.3
scaleway-core==2.10.3
scaleway-sdk==1.15.0
