<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teller - AI storytelling, Knowledge drifting</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Silkscreen&display=swap" rel="stylesheet">
</head>
<body>
    <header class="chat-header">
        <h1 class="brand">
          teller
        </h1>
      </header>
      
    <div class="chat-history">
        <div class="loading-animation-container" id="loadingAnimationContainer">
            <div class="loading-animation" id="loadingAnimation">
                <span id ="period1" class="period period-1">.</span>
                <span id ="period2" class="period period-2">.</span>
                <span id ="period3" class="period period-3">.</span>
            </div>
        </div>
        <div class="chat-inner" id="story">
        </div>
     </div>
  
    <div class="audio-player-container" id="audioPlayerContainer">
        <audio id="speechAudio" preload="auto"></audio>
        <audio id="backgroundAudio" preload="auto" loop></audio>
        <div id="story-title-display" class="story-title-display"></div>
    </div>

    <footer class="chat-input-area">
        <form action="/generate_story" method="POST" id="story-form" enctype="multipart/form-data">
            <div class="form-fields-container">
                <div class="form-group subject-input-group">
                    <input id="subject" name="subject" placeholder="What do you want to hear ?" required></input>
                </div>
                <!-- <button id="stopBtn">stop</button> -->
            </div>
            <div class="controls">
                <button type="button" class="send-button pixel-play" id="replayBtn" disabled>Replay</button>
                <button type="button" class="send-button pixel-play" id="playPauseBtn" disabled>Play New Story</button>
                </button>
              </div>
        </form>
    </footer>

    <script src="/static/js/AudioStateMachine.js"></script>
    <script type="module" src="/static/js/main.js"></script>

</body>
</html>
